@charset "UTF-8";

.landing__inner {
  width: 100%;
}

#section1 .sec__inner,
#section2 .sec__inner,
#section4 .sec__inner,
#section5 .sec__inner,
#section7 .sec__inner,
#section9 .sec__inner,
#section10 .sec__inner,
#section11 .sec__inner {
  max-width: 1172px;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* SECTION01 */
#section1 {
  width: 100%;
  height: auto;
  padding: 80px 0;
  overflow: hidden;
  background: linear-gradient(to right, #FFD66F, #FFB51F);
  position: relative;
}

#section1 .bg {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 735px;
  height: 100%;
  background: url(../img/landing/landing1_sec1_bg.png) no-repeat center center / contain;
}

#section1 .sec1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sec1_container .title h3 {
  font-size: 32px;
  font-weight: 600;
  color: #0A0A0A;
  margin-bottom: 12px;
}

.sec1_container .title h1 {
  font-size: 56px;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
  line-height: 100%;
  padding: 12px 12px 16px 12px;
  background-color: #0A0A0A;
}

.sec1_container .title h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 68px;
  color: #0A0A0A;
  margin-top: 12px;
}

.sec1_container .sec1_phone {
  width: 360px;
}

.sec1_container .sec1_phone img {
  width: 100%;
}

/* SECTION02 */
#section2 {
  width: 100%;
  padding: 120px 0;
  height: auto;
  background: linear-gradient(to right, #000000, #111111, #000000);
  position: relative;
}

#section2 .bg {
  position: absolute;
  width: max-content;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#section2 .title {
  text-align: center;
}

#section2 .title h1 {
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 24px;
}

#section2 .title p {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #fff;
}

#section2 .content {
  margin-top: 60px;
  height: 487px;
  text-align: center;
}

#section2 .content img {
  height: 100%;
}

/* SECTION03 */
#section3 {
  width: 100%;
  height: auto;
  padding: 95px 0;
  background-color: #F1F1F1;
}

#section3 .sec__inner {
  width: 100%;
  max-width: 1272px;
  height: 100%;
  margin: 0 auto;
}

#section3 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  height: 100%;
}

#section3 .title_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#section3 .title_box h1 {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}

#section3 .title_box .animation_icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

#section3 .title_box .animation_icon img {
  width: 100%;
  height: 100%;
}

/* SECTION04 */
#section4 {
  width: 100%;
  height: auto;
  padding: 180px 0;
  background-color: #fff;
}

.sec4_list .sec4_item {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 160px;
  opacity: 0;
  transform: translateX(-40px);
}

.sec4_list .sec4_item:last-child {
  margin-bottom: 0;
}

.sec4_list .sec4_item .text,
.sec4_list .sec4_item .img {
  flex: 1;
}

.sec4_item .text h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #0A0A0A;
  margin-bottom: 24px;
}

.sec4_item .text p {
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}

.sec4_item .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#section4 .sec4_text {
  text-align: center;
  margin-top: 180px;
}

#section4 .sec4_text h1 {
  font-size: 40px;
  font-weight: 400;
  color: #505050;
  line-height: 58px;
}

#section4 .sec4_text h1 span {
  font-weight: 700;
  color: #FFC143;
  display: block;
}

/* SECTION05 */
#section5 {
  width: 100%;
  height: auto;
  padding: 180px 0;
  position: relative
}

#section5>.bg {
  position: absolute;
  width: 100%;
  height: 608px;
  background-color: #FAFAFA;
  top: 0;
  left: 0;
  z-index: -1;
}

.sec5_box {
  padding: 80px 0;
  border-bottom: 1px solid #E5E5EB;
}

.sec5_box:first-child {
  padding-top: 0px;
}

/* .sec5_box:last-child {
  padding-bottom: 0px;
  border-bottom: none;
} */

.sec5_box .sec5_header {
  margin-bottom: 56px;
  text-align: center;
}

.sec5_box .sec5_header span.num {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  background-color: #0A0A0A;
  color: #FBC14E;
  font-size: 24px;
  font-weight: 700;
}

.sec5_box .sec5_header .title {
  margin-top: 40px;
}

.sec5_box .sec5_header .title p {
  font-size: 18px;
  line-height: 28px;
  color: #505050;
}

.sec5_box .sec5_header .title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0A0A0A;
  margin-top: 16px;
}

.sec5_header .bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 413px;
  height: 50px;
  margin: 0 auto;
  margin-top: 32px;
  background: url(../img/landing/landing1_sec5_bubble.png) no-repeat center center / contain;
}

.sec5_header .bubble span {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 26px;
  margin-top: 6px;
}

.sec5_header .emphasis_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 56px;
}

.sec5_header .emphasis_text p {
  font-size: 32px;
  font-weight: 600;
  color: #323232;
}

.sec5_header .emphasis_text span {
  display: inline-block;
  width: auto;
  height: 62px;
  line-height: 62px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  padding: 0 16px;
  background-color: #FFC143;
  font-size: 38px;
  font-weight: 700;
}

.scroll_edu_info {
  width: 740px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.12);
}

.scroll_edu_info .thum_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 625px;
}

.scroll_edu_info .phone {
  width: 318px;
  border-radius: 20px 20px 0 0;
  border: 8px solid #000;
  height: 526px;
  border-bottom: none;
  overflow: hidden;
  position: relative;
}

.scroll_edu_info .phone img {
  width: 400%;
  height: auto;
  object-fit: contain;
  transition: 0.35s;
  position: absolute;
  top: 0;
  left: 0;
}

.scroll_edu_info .desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 88px;
  background-color: #FAFAFA;
}

.scroll_edu_info .desc p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #323232;
  opacity: 0;
}

.scroll_edu_info .desc p:nth-child(1) {
  opacity: 1;
}

.sec5_content .sec5_video {
  width: 100%;
  height: 540px;
}

.plan_service_list .plan_service {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-40px);
}

.plan_service_list .plan_service:last-child {
  margin-bottom: 0;
}

.plan_service .img {
  flex-basis: 336px;
  width: 336px;
  height: 228px;
  flex-shrink: 0;
}

.plan_service .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.plan_service .desc {
  width: calc(100% - 336px);
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 40px;
}

.plan_service .desc span.step {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  border-radius: 8px;
  width: auto;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 600;
  color: #FFC143;
  text-align: center;
  background-color: #FFF8EB;
}

.plan_service .desc .step_title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #0A0A0A;
  padding-left: 42px;
  position: relative;
}

.plan_service .desc .step_title:before {
  content: '';
  display: inline-block;
  width: 34px;
  height: 34px;
  background: url(../img/landing/icon_pencil.svg) no-repeat center center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.plan_service .desc p {
  font-size: 18px;
  line-height: 26px;
  color: #505050;
}

.smart_plan_list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  align-items: center;
  justify-content: center;
}

.smart_plan_list .smart_plan .thum {
  max-width: 357px;
  border-radius: 10px;
  width: 100%;
  height: 220px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.12);
}

.smart_plan_list .smart_plan p {
  text-align: center;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  color: #323232;
}

.sec5_content .info_text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
  position: relative;
  padding-left: 12px;
}

.sec5_content .info_text:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #8C8C8C;
  position: absolute;
  left: 0;
  top: 10px;
}

/* SECTION06 */
#section6 {
  width: 100%;
  height: auto;
  padding: 120px 0;
  background-color: #FFF8EB;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

#section6 .bg1 {
  position: absolute;
  right: -120px;
  top: 0;
}

#section6 .bg2 {
  position: absolute;
  left: -120px;
  bottom: -60px;
}

#section6 .title {
  text-align: center;
}

#section6 .title p {
  font-size: 18px;
  color: #505050;
  margin-bottom: 16px;
}

#section6 .title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0A0A0A;
}

.swiper_wrap {
  margin-top: 40px;
  margin-bottom: 42px;
  width: 100%;
}

.sec6_swiper {
  overflow: visible;
}

.sec6_swiper .swiper-slide {
  width: 480px !important;
}

.sec6_swiper .swiper-slide:not(.swiper-slide-active) {
  filter: brightness(0.7);
}

.sec6_swiper .swiper-slide .news_img {
  width: 480px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.sec6_swiper .swiper-slide .news_img img {
  width: 100%;
}

.sec6_swiper .swiper-pagination {
  top: auto;
  bottom: -35px;
}

.sec6_swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #D2D2D2;
}

.sec6_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FFC95D;
}

.sec6_swiper .swiper-button-prev {
  background-image: none;
  top: 50%;
  left: calc(50% - 268px);
  transform: translateX(-50%);
}

.sec6_swiper .swiper-button-prev:after {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 56px;
  height: 80px;
  background: url(../img/landing/landing1_sec6_swiper_prev.svg) no-repeat center center / 56px 80px;
}

.sec6_swiper .swiper-button-next {
  background-image: none;
  top: 50%;
  right: calc(50% - 295px);
  transform: translateX(-50%);
}

.sec6_swiper .swiper-button-next:after {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 56px;
  height: 80px;
  background: url(../img/landing/landing1_sec6_swiper_next.svg) no-repeat center center / 56px 80px;
}

#section6 .info {
  width: 100%;
  padding: 0 16px;
  max-width: 1172px;
  margin: 0 auto;
}

#section6 .info ul li {
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
  position: relative;
  padding-left: 12px;
}

#section6 .info ul li:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #8C8C8C;
  position: absolute;
  left: 0px;
  top: 10px;
}

/* SECTION07 */
#section7 {
  width: 100%;
  height: auto;
  padding: 120px 0;
  background-color: #fff;
}

.sec7_use_people {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(0, 0, 0, 0.12);
  padding: 60px 0;
  text-align: center;
}

.sec7_use_people .title p {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #0A0A0A;
  border-bottom: 4px solid #FFC95D;
  margin-bottom: 24px;
}

.sec7_use_people .title p span {
  color: #FFC95D;
}

.sec7_use_people .title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #323232;
}

.sec7_use_people .title h1 span {
  background-color: #FFC143;
  display: inline-block;
  margin-right: 8px;
  padding: 8px;
  line-height: 52px;
  color: #fff;
  font-size: 40px;
  border-radius: 8px;
  font-weight: 800;
}

.sec7_use_people ul.people_special {
  width: 100%;
  max-width: 745px;
  margin: 0 auto;
  margin-top: 60px;
}

.sec7_use_people ul.people_special li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
}

.sec7_use_people ul.people_special li span {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(255, 201, 93, 0.3);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-right: 8px;
  z-index: 2;
  position: relative;
  flex-shrink: 0;
}

.sec7_use_people ul.people_special li span::after {
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: rgb(255, 201, 93, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* SECTION08 */
#section8 {
  width: 100%;
  height: auto;
  padding: 120px 0;
  background-color: #7162FE;
  overflow: hidden;
}

#section8 .title {
  text-align: center;
}

#section8 .title img {
  width: 134px;
  height: 40px;
}

#section8 .title span {
  display: block;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255, 0.8);
}

#section8 .title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.sec8_swiper {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 60px;
  overflow: visible;
}

.review_card {
  padding: 24px 32px;
  border-radius: 10px;
  background-color: #EAE8FF;
}

.review_reg_user {
  display: flex;
  gap: 16px;
}

.review_reg_user .thum {
  display: inline-block;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.review_reg_user .thum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review_reg_user .stars {
  display: flex;
  align-items: center;
}

.review_reg_user .stars .star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/landing/icon_star.svg) no-repeat center center / contain;
}

.review_reg_user p.reg_nm {
  margin-top: 8px;
  color: #505050;
}

.review_card .review_cnts {
  margin-top: 16px;
  font-size: 18px;
  line-height: 26px;
  color: #0A0A0A;
  min-height: 178px;
}

.sec8_swiper .swiper-pagination {
  top: auto;
  bottom: -35px;
}

.sec8_swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #D2D2D2;
}

.sec8_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FFC95D;
}

.sec8_swiper .swiper-button-prev {
  background-image: none;
  top: 60%;
  transform: translateY(-50%);
  left: -13px;
}

.sec8_swiper .swiper-button-prev:after {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/landing/landing1_sec8_swiper_prev.svg) no-repeat center center / 36px 36px;
}

.sec8_swiper .swiper-button-next {
  background-image: none;
  top: 60%;
  transform: translateY(-50%);
  right: -13px;
}

.sec8_swiper .swiper-button-next:after {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../img/landing/landing1_sec8_swiper_next.svg) no-repeat center center / 36px 36px;
}

/* SECTION09 */
#section9 {
  width: 100%;
  height: auto;
  padding: 120px 0;
}

#section9 .title {
  text-align: center;
}

#section9 .title span {
  font-size: 18px;
  color: #323232;
}

#section9 .title h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #0A0A0A;
  margin-top: 16px;
}

.faq_list {
  margin-top: 60px;
}

.faq_list .faq_item {
  margin-bottom: 16px;
}

.faq_item .faq_quest {
  width: 100%;
  height: 80px;
  background-color: #FAFAFA;
  position: relative;
  padding: 0 40px;
}

.faq_item .faq_quest .faq__inner {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.faq_item .faq_quest h3 {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.faq_item .faq_quest .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../img/landing/icon_faq_question.svg) no-repeat center center / contain;
  flex-shrink: 0;
}

.faq_item .faq_quest:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  transition: 0.35s;
  background: url(../img/landing/icon_faq_arrow.svg) no-repeat center center / contain;
}

.faq_item .faq_quest.active:after {
  transform: translateY(-50%) rotate(-180deg);
}

.faq_item .faq_answer {
  background-color: #FFF8EB;
  padding: 20px 40px;
  display: none;
}

.faq_item .faq_answer .faq__inner {
  display: flex;
  gap: 16px;
}

.faq_item .faq_answer .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../img/landing/icon_faq_answer.svg) no-repeat center center / contain;
  flex-shrink: 0;
}

.faq_item .faq_answer p {
  font-weight: 500;
  color: #323232;
}

/* SECTION10 */
#section10 {
  position: static;
  width: 100%;
  height: 128px;
  background: #FFC143 url(../img/landing/landing1_sec10_bg.png) no-repeat center right / 50% 100%;
}

.sec10_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

#section10 .sec10_text h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  color: #0A0A0A;
}

#section10 .btn_connected {
  display: inline-block;
  width: 380px;
  height: 56px;
  text-align: center;
  border-radius: 800px;
  line-height: 56px;
  background-color: #0A0A0A;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

#section10.fixed .btn_connected {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* SECTION11 */
#section11 {
  width: 100%;
  padding: 120px 0;
  background-color: #ffffff;
}

#section11 .title h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #0A0A0A;
}

#section11 .agency_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.agency_list .agency {
  width: calc((100% / 3) - 20px);
  text-align: center;
}

.agency_list .agency .thum {
  width: 100%;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.agency_list .agency .thum img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.agency_list .agency .desc {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.agency_list .agency .desc p {
  font-size: 20px;
  font-weight: 500;
  color: #323232;
}

@media screen and (min-width: 1201px) and (max-width:1500px) {
  #section3 .content {
    row-gap: 22px;
  }

  #section3 .title_box h1 {
    font-size: 40px;
  }
}

/* Pad */
@media screen and (min-width: 768px) and (max-width:1200px) {
  .sec1_container .title h3 {
    font-size: 22px;
  }

  .sec1_container .title h1 {
    font-size: 48px;
  }

  .sec1_container .title h2 {
    font-size: 32px;
  }

  .sec1_container .sec1_phone {
    width: 248px;
  }

  #section2 .title h1 {
    font-size: 40px;
  }

  #section2 .title p {
    font-size: 20px;
    line-height: 32px;
  }

  #section3 .content {
    row-gap: 18px;
  }

  #section3 .title_box {
    gap: 12px;
  }

  #section3 .title_box h1 {
    font-size: 24px;
  }

  #section3 .title_box .animation_icon {
    width: 32px;
    height: 32px;
  }

  .sec4_item .text h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .sec4_item .text p {
    font-size: 16px;
  }

  #section4 .sec4_text h1 {
    font-size: 32px;
    line-height: 45px;
  }

  #section5>.bg {
    height: 580px;
  }

  .sec5_box .sec5_header .title p {
    font-size: 18px;
  }

  .sec5_box .sec5_header .title h1 {
    font-size: 32px;
  }

  .sec5_header .emphasis_text {
    margin-top: 40px;
  }

  .sec5_header .emphasis_text span {
    font-size: 32px;
    height: 48px;
    line-height: 48px;
  }

  #section10 .sec10_text h1 {
    font-size: 24px;
  }
}

@media screen and (max-width:767px) {

  /* SECTION01 */
  #section1 {
    padding: 32px 0 40px;
  }

  #section1 .bg {
    width: 100%;
    top: auto;
    bottom: 0;
    height: 360px;
  }

  #section1 .sec1_container {
    flex-direction: column;
    row-gap: 32px;
  }

  .sec1_container .title {
    text-align: center;
  }

  .sec1_container .title h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .sec1_container .title h1 {
    font-size: 24px;
    padding: 6px 8px;
  }

  .sec1_container .title h2 {
    margin-top: 8px;
    line-height: 34px;
    font-size: 24px;
  }

  .sec1_container .sec1_phone {
    width: 168px;
  }

  /* SECTION02 */
  #section2 {
    padding: 80px 0;
  }

  #section2 .title h1 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  #section2 .title p {
    font-size: 14px;
    line-height: 20px;
  }

  #section2 .content {
    margin-top: 40px;
    height: 269px;
  }

  /* SECTION03 */
  #section3 {
    padding: 30px 0;
  }

  #section3 .content {
    row-gap: 16px;
  }


  #section3 .title_box {
    gap: 8px;
  }

  #section3 .title_box h1 {
    font-size: 14px;
  }

  #section3 .title_box .animation_icon {
    width: 24px;
    height: 24px;
  }

  /* SECTION04 */
  #section4 {
    padding: 80px 0;
  }

  .sec4_list .sec4_item {
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 80px;
  }

  .sec4_list .sec4_item:nth-child(2) {
    flex-direction: column-reverse;
  }

  .sec4_list .sec4_item .text,
  .sec4_list .sec4_item .img {
    flex: auto;
    width: 100%;
  }

  .sec4_item .text h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .sec4_item .text p {
    font-size: 14px;
    line-height: 20px;
  }

  #section4 .sec4_text {
    margin-top: 80px;
  }

  #section4 .sec4_text h1 {
    font-size: 16px;
    line-height: 24px;
  }

  #section4 .sec4_text h1 span {
    display: inline;
  }

  /* SECTION05 */
  #section5 {
    padding: 80px 0;
  }

  #section5>.bg {
    height: 510px;
  }

  .sec5_box .sec5_header {
    margin-bottom: 40px;
  }

  .sec5_box .sec5_header span.num {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }

  .sec5_box .sec5_header .title {
    margin-top: 24px;
  }

  .sec5_box .sec5_header .title p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec5_box .sec5_header .title h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .sec5_header .bubble {
    width: 100%;
    height: 44px;
    margin-top: 32px;
  }

  .sec5_header .bubble span {
    font-size: 14px;
  }

  .sec5_header .emphasis_text {
    margin-top: 24px;
  }

  .sec5_header .emphasis_text p {
    font-size: 16px;
  }

  .sec5_header .emphasis_text span {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
  }

  .scroll_edu_info {
    width: 100%;
  }

  .scroll_edu_info .thum_img {
    height: 489px;
  }

  .scroll_edu_info .phone {
    width: 256px;
    height: 450px;
  }

  .scroll_edu_info .desc {
    height: 72px;
  }

  .scroll_edu_info .desc p {
    font-size: 14px;
    line-height: 20px;
  }

  .sec5_content .sec5_video {
    height: 156px;
  }

  .plan_service_list .plan_service {
    flex-direction: column;
    gap: 0px;
  }

  .plan_service .img {
    flex-basis: auto;
    width: 100%;
    height: 179px;
  }

  .plan_service .desc {
    width: 100%;
    padding: 16px;
  }

  .plan_service .desc span.step {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
  }

  .plan_service .desc .step_title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 32px;
  }

  .plan_service .desc .step_title:before {
    width: 24px;
    height: 24px;
  }

  .plan_service .desc p {
    font-size: 14px;
    line-height: 20px;
  }

  .smart_plan_list {
    gap: 24px 8px;
  }

  .smart_plan_list .smart_plan {
    width: calc(50% - 8px);
  }

  .smart_plan_list .smart_plan .thum {
    max-width: 100%;
    height: 120px;
  }

  .smart_plan_list .smart_plan .thum img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .smart_plan_list .smart_plan p {
    font-weight: 500;
    font-size: 16px;
  }

  .sec5_content .info_text {
    font-size: 13px;
    line-height: 18px;
  }

  .sec5_content .info_text:before {
    top: 7px;
  }

  /* SECTION06 */
  #section6 {
    min-height: auto;
    padding: 80px 0;
  }

  #section6 .bg1,
  #section6 .bg2 {
    display: none;
  }

  #section6 .title p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  #section6 .title h2 {
    font-size: 22px;
  }

  .swiper_wrap {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 16px;
  }

  .sec6_swiper {
    overflow: hidden;
    padding-bottom: 50px;
  }

  .sec6_swiper .swiper-slide {
    width: 100% !important;
  }

  .sec6_swiper .swiper-slide .news_img {
    width: 100%;
  }

  .sec6_swiper .swiper-button-prev {
    left: 20px;
  }

  .sec6_swiper .swiper-button-prev:after {
    width: 48px;
    height: 48px;
    background: url(../img/landing/landing1_sec6_swiper_prev_mo.svg) no-repeat center center / 48px;
  }

  .sec6_swiper .swiper-button-next {
    right: 0px;
  }

  .sec6_swiper .swiper-button-next:after {
    width: 48px;
    height: 48px;
    background: url(../img/landing/landing1_sec6_swiper_next_mo.svg) no-repeat center center / 48px;
  }

  .sec6_swiper .swiper-pagination {
    bottom: 9px;
  }

  #section6 .info ul li {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  #section6 .info ul li:before {
    top: 7px;
  }

  /* SECTION07 */
  #section7 {
    padding: 80px 0;
  }

  .sec7_use_people {
    padding: 40px 15px;
  }

  .sec7_use_people .title p {
    font-size: 14px;
    line-height: 20px;
    border-bottom-width: 1px;
    margin-bottom: 16px;
  }

  .sec7_use_people .title h1 {
    font-size: 20px;
  }

  .sec7_use_people .title h1 span {
    font-size: 18px;
    line-height: 26px;
    padding: 4px 8px;
  }

  .sec7_use_people ul.people_special {
    margin-top: 24px;
  }

  .sec7_use_people ul.people_special li {
    font-size: 14px;
    line-height: 20px;
  }

  .sec7_use_people ul.people_special li span {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
  }

  .sec7_use_people ul.people_special li span::after {
    width: 24px;
    height: 24px;
  }

  /* SECTION08 */
  #section8 {
    padding: 80px 0;
  }

  #section8 .sec__inner {
    padding: 0 16px;
    max-width: 1712px;
  }

  #section8 .title img {
    height: 32px;
  }

  #section8 .title span {
    font-size: 14px;
    margin-top: 8px;
  }

  #section8 .title h1 {
    font-size: 22px;
  }

  .sec8_swiper {
    margin-top: 24px;
    overflow: hidden;
    padding-bottom: 50px;
  }

  .sec8_swiper .swiper-pagination {
    position: static;
    bottom: 18px;
    display: inline-block;
    width: fit-content;
  }

  .review_card {
    padding: 24px;
  }

  .review_card .review_cnts {
    font-size: 14px;
    line-height: 20px;
    min-height: 100px;
  }

  .sec8_swiper .swiper_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    height: 32px;
  }

  .sec8_swiper .swiper-button-prev,
  .sec8_swiper .swiper-button-next {
    position: static;
    display: inline-block;
    width: 32px;
    height: 32px;
    transform: translate(0);
    margin: 0;
  }

  .sec8_swiper .swiper-button-prev:after,
  .sec8_swiper .swiper-button-next:after {
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  /* SECTION09 */
  #section9 {
    padding: 80px 0;
  }

  #section9 .title span {
    font-size: 14px;
  }

  #section9 .title h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .faq_list {
    margin-top: 40px;
  }

  .faq_list .faq_item {
    margin-bottom: 8px;
  }

  .faq_item .faq_quest {
    height: 68px;
    padding: 0 16px;
  }

  .faq_item .faq_quest .faq__inner {
    gap: 12px;
  }

  .faq_item .faq_quest h3 {
    font-size: 14px;
  }

  .faq_item .faq_quest .icon {
    width: 28px;
    height: 28px;
  }

  .faq_item .faq_quest:after {
    right: 16px;
  }

  .faq_item .faq_answer {
    padding: 20px 16px;
  }

  .faq_item .faq_answer .icon {
    width: 28px;
    height: 28px;
  }

  .faq_item .faq_answer p {
    font-size: 14px;
  }

  /* SECTION10 */
  #section10 {
    background-size: 100% 100%;
  }

  #section10.fixed {
    position: static;
  }

  .sec10_container {
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }

  #section10 .sec10_text h1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  #section10 .btn_connected {
    width: 284px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
  }

  #section10.fixed .btn_connected {
    position: fixed;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
}